.form {
  .form__group {
    background-color: transparent;

    & + .form__group {
      margin-top: 1.125rem;
    }

    &--checkbox,
    &--radio {
      display: flex;
      align-items: center;
      cursor: pointer;

      label {
        margin: 0;
      }
    }
  }

  &__footer {
    padding-top: 1rem;
  }
}