<!DOCTYPE html>
<html>
<head>
  <title>BuriAuth</title>
  <%= stylesheet_link_tag    'buri_auth/application', media: 'all' %>
  <%= javascript_include_tag 'buri_auth/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
