button {
  display: inline-block;

  font-size: $button-base-font-size;
  font-weight: $button-base-font-weight;
  line-height: $button-base-line-height;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:active {
    background-image: none;
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
  }
}
